<!DOCTYPE HTML>
    <html>
        <head>
            <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
            <title> Карточка читателя </title>
            {% macro render_table(table_name, relation, id) %}
                <p>
                    <b>{{table_name}} </b>
                </p>
                {% set n = len(relation) %}
                <table>
                    <tr>
                        {% for name in relation.dtypes.index %}
                            {% if name != id %}
                                <th>{{name}}</th>
                            {% endif %}
                        {% endfor %}
                    </tr>
                    <tbody>
                        {% for i in range(n) %}
                            <tr>
                                {% for name in relation.dtypes.index %}
                                    {% if name != id %}
                                        <td> 
                                            {% if relation.loc[i, name] %}
                                                {{ relation.loc[i, name] }}
                                            {% else %} 
                                            <form action="" method="post">
                                                <input type="text" value="{{relation.loc[i, id]}}" name="book_reader_id" hidden />
                                                <input type="submit" name="return" value="Сдать" />
                                            </form>
                                            {% endif %}
                                        </td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endmacro %}
            
            {% macro render_select(combo_box, reader_id) %}
                <select name="reader">
                {% set n = len(combo_box) %}
                {% for i in range(n) %}
                    {% set id_r = combo_box.loc[i, "reader_id"] %}
                    
                    {% if id_r == reader_id %}
                        <option selected value={{id_r}}>
                    {% else %}
                        <option value={{id_r}}>
                    {% endif %}
                        {{ combo_box.loc[i, "reader_name"] }}
                    </option>
                {% endfor %}
                </select>
            {% endmacro %}

        </head>
    <body>
        <div class="menu">
            <ul> 
                <li class = active><a href={{ url_for("new_reader")}}>Новый читатель</a></li>
                <li><a>Книги</a></li>
                <li><a>Статистика</a></li>  
            </ul>
        </div>
        <div class="block">
            <p>
                <form action='' method ="get">
                    Читатель:
                    {{ render_select(combo_box, reader_id) }}
                    <input type="submit" value="Найти">
                </form>
            </p>
            <p>
                <form action ="{{url_for('new_reader')}}" method="get">
                    <input type="submit" value="Новый читатель">
                </form>
            </p>
            <p>
                </p>
                    {{ render_table("Карточка",book_reader, "book_reader_id") }}
                <p>
                    <form action ="{{url_for('search')}}" method="get">
                        <input type="submit" value="Взять книгу">
                    </form>
            </p>
        </div>
    </body>
</html>