<!DOCTYPE HTML>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
    <title> Поиск книги </title>
    {% macro render_checkbox(relation, selected_list, name) %}
        {% for i in range(relation|length) %}
            {% set value = relation.loc[i, relation.dtypes.index[0]] %}
            <div class="flex row">
            <input 
                type="checkbox" 
                name="{{name}}" 
                value="{{value}}" 
                {% if value in selected_list %} checked="checked" {% endif %}
            />{{value + " (" + relation.loc[i, relation.dtypes.index[1]]|string + ")"}}
            </div>
        {% endfor %}
    {% endmacro %}

    {% macro render_books(df_books) %}
        {% for i in range(df_books|length) %}
            <div class="flex column width50">
                <p>Название: {{df_books.loc[i, "title"]}}</p>
                <p>Авторы: {{df_books.loc[i, "authors"]}}</p>
                <p>Жанр: {{df_books.loc[i, "genre_name"]}}</p>
                <p>Издательство: {{df_books.loc[i, "publisher_name"]}}</p>  
                <p>Количество: {{df_books.loc[i, "available_numbers"]}}</p>
                <p>book_id: {{df_books.loc[i, "book_id"]}}</p>
                <form action='{{url_for("index")}}' method ="get">
                    <p>{{i}}</p>
                    <input type="hidden" value="{{df_books.loc[i, 'book_id']}}" name="book">
                    <input type="submit" value="Выбрать" {% if not df_books.loc[i, "available_numbers"] %} disabled="disabled" {% endif %}>
                </form> 
            </div> 
        {% endfor %}
    {% endmacro %}
</head>
<body>
    <div class=menu>
        <ul>
            <li class = active><a href={{ url_for("search")}}>Поиск книги</a></li>
        </ul>
    </div>
    <div class=block>
        <p>
            <form action='' method ="post">
                <div class="flex row">
                    <div class="flex column width15">
                        <div class="flex column">
                            <details><summary>Авторы</summary>{{ render_checkbox(df_authors, selected_authors, "authors") }}</details>
                            <details><summary>Жанры</summary>{{ render_checkbox(df_genres, selected_genres, "genres")}}</details>
                            <details><summary>Издательства</summary>{{ render_checkbox(df_publishers, selected_publishers, "publishers")}}</details>
                        </div>
                        <input type="submit" value="Очистить" name="reset" />
                        <input type="submit" value="Применить" name="confirm" />
                    </div>
                    <div class="flex column width85">
                        <div class="flex column">
                            <div class="block">
                                {% if selected_authors %}
                                    Авторы: {{", ".join(selected_authors)}} <br>
                                {% endif %}
                                {% if selected_genres %}
                                    Жанры: {{", ".join(selected_genres)}} <br>
                                {% endif %}
                                {% if selected_publishers %}
                                    Издательства: {{", ".join(selected_publishers)}}
                                {% endif %}
                            </div>
            </form>
                            <div class="flex row wrap">
                                {{ render_books(df_books) }}
                            </div>
                        </div>
                    </div>
                </div>  
            <form action='{{url_for("index")}}' method ="get">
                <input type="submit" value="Не выбирать книгу" />
            </form> 
        </p>
    </div>
</body>
</html>